[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = {extras = ["pipfile", "requirements"],version = "*"}
flake8 = "*"
pytest = "*"
pytest-testmon = "*"
pytest-cov = "*"
bump2version = "*"
mypy = "*"
sqlalchemy-stubs = "*"

[packages]
fastapi = "*"
mypy = "*"
uvicorn = "*"
sqlalchemy = "*"
argon2-cffi = "*"
ujson = "*"
starlette = "*"
environ-config = "*"
jwt = {extras = ["crypto"],version = "*"}

[requires]
python_version = "3.8"
